# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Tha-Y\3D Objects\Documents\3sem\Flow3\Week2\Onsdag\SecurityHookVersion\security\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
